body  {
  font-family:Roboto, "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiDrawer-paper{
  opacity: 0.95;
}
.MuiDivider-root{
  border-color: azure !important;
}

.Mui-selected{
  background-color: rgb(220, 225, 247) !important;
  
}

.MuiCardContent-root{
  background-color: rgba(0, 0, 0, 0.175) !important;
}
.MuiCardActions-root{
    background-color: rgba(0, 0, 0, 0.175) !important;
}

.MuiFilledInput-root{
 color:rgb(0, 0, 0) !important
}

